-
    var CONTACTS = {
        email: {
            href: 'mailto:info@inno-implant.ru',
            text: 'info@inno-implant.ru'
        },
        telephone: {
            href: 'tel:88007073037',
            text: '8 800 707 303 7'
        }
    }