include ../consts/index

footer.footer
    .container
        div(class="footer__row")
            div(class="footer__column footer__logo")
                img(src=`${DOMAIN}/inno-verstka-site/src/img/Inno-logo_invert.png`, alt="Inno-logo")
            div(class="footer__column footer-body")
                ul(class="footer-body__menu")
                    li(class="footer-body__item")
                        a(href="/catalog/cowellmedi_implantaty/", class="footer-body__link link-underline link-underline__inverse") Cowellmedi
                    li(class="footer-body__item")
                        a(href="/catalog/pezoinstrument/", class="footer-body__link link-underline link-underline__inverse") Пьезоинструмент
                    li(class="footer-body__item")
                        a(href="/catalog/scilogex_tsentrifugi_zapchasti_probirki/", class="footer-body__link link-underline link-underline__inverse") Scilogex
                    li(class="footer-body__item")
                        a(href="/catalog/sistema_regeneratsionnykh_materialov_botiss/", class="footer-body__link link-underline link-underline__inverse") Botiss
                    li(class="footer-body__item")
                        a(href="/catalog/special/", class="footer-body__link link-underline link-underline__inverse") Cпецпредложения
                    li(class="footer-body__item")
                        a(href="/inno-digital/", class="footer-body__link link-underline link-underline__inverse")
                            | Inno digital
                    li(class="footer-body__item")
                        a(href="/education/", class="footer-body__link link-underline link-underline__inverse") Мероприятия
                ul(class="footer-body__submenu")
                    li(class="footer-body__item")
                        a(href="/about/", class="footer-body__link link-underline link-underline__inverse")
                            | О компании
                    li(class="footer-body__item")
                        a(href="/catalog/howto/", class="footer-body__link link-underline link-underline__inverse")
                            | Как заказать?
                    li(class="footer-body__item")
                        a(href="/about/delivery/", class="footer-body__link link-underline link-underline__inverse") Доставка и оплата
                    li(class="footer-body__item")
                        a(href="/contacts/", class="footer-body__link link-underline link-underline__inverse") Контакты
                hr
            div(class="footer__column contacts")
                div(class="contacts__call-block")
                    div(class="contacts__call-contact")
                        div(class="contacts__call-descr") Единый справочный центр
                        a(href="tel:88007073037")
                            div(class="contacts__call-tel") 8 800 707 303 7
                div(class="contacts__address-block")
                    div(class="contacts__call-descr")
                        a(href="https://yandex.ru/maps/org/inno_implant_ru/1733971371/?indoorLevel=1&amp;ll=37.710656%2C55.780173&amp;z=16", target="_blank")
                            | г. Москва, ул. Большая Семеновская, д.40, с.13, оф. 704
                div(class="contacts__mail-block")
                    a(href="mailto:info@inno-implant.ru")
                        div(class="contacts__call-descr") info@inno-implant.ru
                .footer-social
                    div(class="footer-social__title") Мы в соцсетях
                    div(class="footer-social__icon-items")
                        a(href="https://vk.com/innoimplantrussia", class="footer-social__icon")
                            img(src=`${DOMAIN}/inno-verstka-site/src/icons/social/vk-icon.svg`)
                        a(href="https://t.me/innoimplantru", class="footer-social__icon")
                            img(src=`${DOMAIN}/inno-verstka-site/src/icons/social/telegram-icon.svg`)
                        a(href="https://www.youtube.com/channel/UC6s2JH2BM071hp_9qxzXSzw", class="footer-social__icon")
                            img(src=`${DOMAIN}/inno-verstka-site/src/icons/social/yt-icon.svg`)
